.mainCont{
    width: 100%;
    height: 70vh;
    margin-top: 80px;
    overflow: auto;
}

.MainTabs{
    width: 250%;
    height: 100%;
    overflow: auto;
    display: flex;
    justify-content: space-around;
}

.TabsCenter {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}