
.Link{
    color: black;
    text-decoration: none;
}

.ComunidadBox{
    margin: 8px auto;
    width: 80%;
    height: 40px;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border: 2px outset #33A2BB;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ComunidadBox div {
    display: flex;
}

.ComunidadBox svg {
    margin: 0 8px;
}

.ComunidadBox p {
    margin: 0;
    padding: 0;
}